* {
    font-family: STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimHei, Heiti, "黑体", sans-serif;
}
.font-hei {
    font-family: STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimHei, Heiti, "黑体", sans-serif;
}
.font-song {
    font-family: "Songti SC", SimSun, "宋体", STSong, serif;
}
